/* XS */
@media(max-width:1200px){

#login-form .form-title{  
  margin-right: -10px;
  margin-left: -2px;
}
}
@media(max-width:739px){

  #collapse ul {   right: 25px;
  position: absolute;
     top: -2px; }
  .flex-direction-nav a.flex-prev:before, .flex-direction-nav a.flex-next:before {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px !important;
    width: 38px !important;
}
.home-open-slider .flex-direction-nav a.flex-next, .home-open-slider .flex-direction-nav a.flex-prev  {
     height: 80px;
    width: 38px; 
    text-shadow:none;
    color:transparent;
}
.home-open-slider .slide-content h2{
  font-size:24px;
}
.home-open-slider .slide-content p{
  font-size:11px;
  line-height:13px;
}
.home-open-slider img{
  width:auto;
  height: 300px
}
.home-open-slider {
  height: 300px;
}
  #second-menu .brands-list li {
    float: left;
  
}
  .product-sizes .btn {
  padding: 3px 15px;
}
  .footer .footer-header {
    padding: 15px 0;
  }
  .footer .footer-header span:before, .footer .footer-header span:after {
    left: -60%;
  }
  .footer .footer-header span:after {
    left: 110%;
  }
  .footer .footer-header span {
  font-size: 13px;
}
  #newslatter-mobile input {
    margin-bottom: 10px;
  }
  .footer-body .footer-body-footer .list-inline {
    zoom: .85;
    margin-top: -90px;
    padding: 0;
  
}
  .footer-body .footer-body-footer {
    padding: 20px 0;
    margin-top: 100px;
    zoom: .8;
     text-align: center;

  }
  .mobile-search {
    display: block !important;
    padding: 0 20px !important;
}

.mobile-search input {
    border: 0;
    border-bottom: 1px solid black;
    padding-left: 30px;
}

.mobile-search:before {
  content: "\f002";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
    position: absolute;
    background: white;
    height: 40px;
    width: 30px;
    font-size: 18px;
    padding-top: 11px;
    padding-left: 6px;
}
  .info-menu {
    text-align: left !important;
  }
  .orders-mini .panel-group .panel-default>.panel-heading a {
    font-weight: 700;
    text-decoration: none;

  }
  .info-menu ul {
  margin: 5%;
  }
  .orders-mini .panel-group .panel-default>.panel-heading {

    border-bottom: none;
  }
  a.show-order {
    font-weight: 700;
    background: #dcc878;
  }
   a.show-order:hover {
     color: black;
     background: transparent
   }/*
  .style3 a:hover .linebox {
    display: none !important;
  }*/
  .xs-height1 {
    height: 310px !important;
  }
  .magicclear1 {
    margin-top: -0px !important;
  }
    .height3 .style1 .middle {
  height: 300px;
}
  .page-login .page-footer {
  padding: 0 0 50px 0;
}
.btn-lg {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}
  .checkout-steps {
    padding: 40px 0;
  }
  .text-right {
    text-align: left;
  }
  .checkout-steps a {
    font-size: 12px !important;
  }
  .page-info {
    margin-top: -30px;
  }
  .home-open-slider .slide-content {
    right: 13%;
    width: 80%;
  }
.footer-body .container .btn-gray{
  position: relative;
  top: 0;  
  height: 44px;
}
  .footer-body h3[aria-expanded="true"]:after {
    content: '-';
    padding-right: 4px;
  }
  .footer-body h3:after {
  content: "+";
  display: inline-block;
  float: right;
  right: 0px;
  font-size: 18px;
  }
  .footer-body h3 {
  padding: 25px;
  margin: 0;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
}
.page-header.style3 p {
  width: 80%;
}
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
  }
  .table-list-cart {
    margin-top: 30px;
    font-size: 13px
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .table-list-cart input, .table-list-cart select {
    width: 80px !important;
  }
  .methods-ship .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
  }
  .bootstrap-select>.dropdown-toggle {
    padding: 15px 5px;
  }
  .table-list-cart tr > th:last-child {
    text-align: right;
  }
  .table-list-cart thead {
    display: none;
  }
  .table-list-cart tbody {
    display: table-cell;
  }
  .table-list-cart .options {
    zoom: .7;
    display: table-cell;
  }
  .table-list-cart .options .visible-xs {
    margin-top: 10px;
  }
  .box-product .the-look {
    z-index: 1000;
  }
  .hstyle1, .info-menu h3 {
    display: block;
    width: 120%;
    margin: 0 -20px;
    background: rgb(255, 245, 229);
  
    font-size: 12px;
    padding: 10px 30px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
.table-list-cart img {
  width: 60px;
}/*
.hstyle1:before, .info-menu h3:before {
    content: "\f0d9";
      display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-right: 40px;
  font-size: 18px;
}*/
  .breadcrumb {
    display: none;
  }
  
  .logo-min figure {
    width: 87px;
    height: inherit;
    margin: 0 auto;
  }
  #navbar {
  position: absolute;
  top: 0;
  right: 25px;
}
  body.inside-menu .third-menu, body.inside-menu .second-menu {
    padding: 0;
    height: inherit !important;
  }
  .third-menu, #second-menu, #login-menu {
    position: fixed;
    z-index: 999999;
    background: white;
    width: 100%;
  
    height: initial !important;
}
  .third-menu {
    margin-top: 92px;
  
    height: inherit;
}
  body.inside-menu .second-menu {
    position: fixed;
  }
  #second-menu > ul .container {
    overflow: auto;
    max-height: 100%;
    margin: 0px -5px;
  }
  .second-menu a {
    display: block;
  
    padding: 0 !important;
    margin: 0;
}
  .second-menu > ul > li  ul { padding: 5px 15px; }
  .second-menu > ul > ul { padding: 20px 0; }
  .second-menu > ul {
    padding: 20px 30px;
  }
  #second-menu .btn-close {
    font-weight: 900;
  }
  .second-menu > ul ul ul li:before{ content:"-"; position:absolute; 
  left: 25px;
  margin-top: -8px;}
  .second-menu > ul > li {
    display: block;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #dcc878;
    padding: 10px 0;
  
    width: 100%;
}
  .second-menu > ul > li a:hover, .second-menu > ul > li a[aria-expanded="true"] {
    background: transparent;
    color: initial;
  }
  .second-menu > ul > li a[aria-expanded="true"]:after {
    content: '-';
  }
  .second-menu > ul > li > a:after {
    content: "+";
    display: inline-block;
    font-weight: 600;
    float: right;
    top: -10px;
    right: 0px;
    font-size: 28px;
    position: absolute;
    color: #dcc878 !important;
  }
  #second-menu .nav-navbar ul li a {
    font-weight: 100;
    text-transform: initial;
  
    width: 150px;
}
  #second-menu .submenu a {
    font-size: 13px;
    font-weight: 100;
    text-transform: none;
    text-align: left;
}
#second-menu .submenu h3 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: black;
}
#second-menu .submenu li, #second-menu .submenu ul, #second-menu .submenu ul li {
    text-align: left;
}
.brands-list {
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
  margin-bottom:50px;
}
.brands-list li {
   width: 145px;
   padding: 0;
}
.brands-list h2 {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  margin-top:-40px;
  margin-bottom:20px;
}

#second-menu .nav-navbar li a:hover, #second-menu .nav-navbar li a[aria-expanded="true"], #second-menu .nav-navbar li a:focus {
  background: initial;
  color: initial;
}


#collapseFooter h3 {
    padding: 0px 20px 5px 40px;
  }
#collapseFooter {
    margin-bottom: 30px;
}  
#collapseFooter li {
    text-align: left;
    margin-left: 60px;
  }
.footer-body ul.list-unstyled {
    height: initial;
    padding: 10px 0;
  }
.api-instagram {
    zoom: .75;
  }
 }

/* SM */
@media (max-width:980px){
  .row-products-filter{
    margin-top:20px
  }
  header{
    margin-bottom: 0;
  }
}
@media (max-width:740px){
  body .footer-body .container{
    height: 390px
  }
  .form-join-cc{
    padding:0 15px;
  }
  .footer .footer-header{
    overflow: hidden;
  }
  .home-second-slider.flexslider .slides li .ttb{
    display:inline-block;
    max-width: 100%;
    width:auto;
    margin:auto;
    max-height: 300px
  }
  .home-second-slider .slide-fix .col-sm-4.reccc{
  display:block
  }
  .home-second-slider .slide-fix .col-sm-4{
  display:none;
  }
  .navbar-normal .first-menu ul.navbar-right li:last-child a{
    margin-right: 8px
  }
  .flexslider .slides li .col-sm-4{
    display:none;
  }
  body .flexslider .slides li .col-items{
    float:left;
    display:block;
    width:50%;
  }
  .home-second-slider .slide-fix{
    position: static
  }
  #menu-mobile .btn{
    padding:0 5px;
  }  
  #menu-mobile .fa-bars{
     position: relative;
    top:3px;
  }
  #menu-mobile {
    position: relative;
    top:9px;
    padding: 4px 0;
  }
  body .home-container .col-sm-4{
    padding-left:0;
    padding-right:0;
  }
  .home-second-slider.flexslider .slides > li{
    display:none
  }
  .flexslider .slides > li:first-child{
    display:inline-block;
  width: 100%;
    overflow: hidden;
  }
  .home-second-slider .col-items .style3 small{
    font-size:14px;
    font-weight: bold;
    letter-spacing: 0;
  }
  .home-second-slider .col-items .style3 h2{
    padding-bottom: 0;
    font-size:12px;
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top:0;
    border-bottom:0
  }
  .home-second-slider .col-items .style3 .linebox{
    box-shadow: none
  }
  .home-second-slider .col-items .middle .center{
    display:block;
  }
  .home-second-slider .col-items .middle{
    min-height:54px;
    height: auto;
    width: auto;
    display:block;
  }
  .home-second-slider .col-items .product-preview > a .linebox{
    opacity: 1;
    padding: 0;
  }
  .home-second-slider .height2.cover{
    text-align: center;
    background-image: none!important
  }
  body .home-second-slider .height2{
    height: auto
  }
  .home-second-slider .reccc .height2{
    height: 150px
  }
  body .home-open-slider {
    margin-bottom: -5px;
  }
}
@media (max-width:420px){  
  body .flexslider .slides li .col-items{
    width:45%;
    margin:0 5px;
  }
}
@media (max-width:420px){  

  .home-second-slider.flexslider .slides li .ttb{
    max-height:none;
    width:90%;
  }
  body .flexslider .slides li .col-items{
    float:none;
    width:auto;
  }
}
@media (max-width:320px){  
  .home-second-slider.flexslider .slides li .ttb{
    width:100%;
  }
}
@media(min-width:740px) and (max-width:980px){

  #second-menu .nav-navbar li a:hover, #second-menu .nav-navbar li a[aria-expanded="true"], #second-menu .nav-navbar li a:focus {
  background: initial;
  color: initial;
}
#menu-mobile {
  position: relative;
  top:6px;
  padding: 2px 0;
}
.navbar-normal .first-menu ul.navbar-right li .cart-items {
  position: relative;
  top: -2px;
}
#search-menu {
    padding-left:80px !important;
    padding-right:80px !important;
}

#search-menu input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
    .third-menu, #second-menu, #search-menu, #login-menu {
    display:none;
    position: fixed;
    z-index: 999;
    background: rgba(255,255,255,.9);
    width: 100%;
  
    height: initial !important;
    border: 0;
    padding-bottom: 40px;
    padding-top: 70px;
}
.second-menu > ul > li {
  display: block;
  text-align: left;
  border-bottom:1px solid #dcc878;
  padding: 10px 0;
  width: 100%;
}
  .btn-lg {
  padding: 5px 30px !important;
}
  .sizes .btn {
    padding: 8px;
  }
  .dropdowns-menu .sizes .btn {
    display: block;
    float: none;
    width: 40px;
  
    margin:-1px
}
  .dropdowns-menu .sizes {
    text-align: center;
  }
  .page-look1 .box-product, .page-product .box-product {
  padding-left: 20px !important;
  }
  .info-menu ul {
  margin:20px 0 0 13%;
  }
  .info-menu h3 {
    padding: 0;
  }
  .page-info .info {
    padding: 40px 10px !important;
  }
  .checkout-steps {
  padding: 60px 0 100px;
  }
  .linebox {
  width: 90%;
  }
  /*.style1 h2, .style2 h2 {
  font-size: 20px !important;
  }*/
  .third-menu, .second-menu {
    position: fixed;
    z-index: 999;
    background: rgba(255,255,255,.9);
    width: 100%;
  }
  .third-menu {
    margin-top: 92px;
  
    display: none;
}
  body.inside-menu .second-menu {
    position: fixed;
  }
  #second-menu > ul .container {
    overflow: auto;
    max-height: 100%;
    margin: 0px -13px
  }
  .second-menu a {
    display: block;
  }
  .second-menu > ul > li  ul { padding: 5px 15px; }
  .second-menu > ul > ul { padding: 20px 0; }
  .second-menu > ul {
    padding: 20px 30px;
  }
  #second-menu .btn-close {
  }
  .second-menu > ul ul ul li:before{ content:"-"; position:absolute; left:25px; margin-top: -8px;}
  .second-menu > ul > li {
    display: block;
    text-align: left;
    font-size: 20px;
    border-bottom: 2px solid #dcc878;
    padding: 10px 0;
  }
  .second-menu > ul > li a:hover, .second-menu > ul > li a[aria-expanded="true"] {
    background: transparent;
    color: initial;
  }
  #second-menu .nav-navbar li a{
    display: block;
    padding: 0!important
  }
  .second-menu > ul > li.expandible > a:after {
    content: "\f068";
    display: inline-block;
    position: relative;
    top: 5px;
    right: 3px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    float: right;
    font-size: 18px;
    color: #dcc878 !important;
  }
  .second-menu > ul > li.expandible > a.collapsed:after {
    content: "\f067";
  }
  #second-menu .submenu ul li a{
    font-size: 13px;
    font-weight: 400 !important;
  }
  #second-menu .submenu a {
    text-transform: none;
    text-align: left;
}
#second-menu .submenu h3 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px 6px;
  color: black;
}
#second-menu .submenu li, #second-menu .submenu ul, #second-menu .submenu ul li {
    text-align: left;
    display: block;
}

#page-info {
    padding-top: 0;
  }
  
body.inside-menu #page-info {
    padding-top: 0px;
  }
.page-cart-body table {
    zoom: .83;
  }
.bootstrap-select>.dropdown-toggle {
    padding-right: 5px !important;
  }}
/* Mayor que MD */
@media(max-width:980px) {

  body.app-body .container {
    width: 770px;
  }
}
@media(min-width:980px) {
.thumbnail.style4 h2, .style4 h2 {
  font-size: 16px;
}
.col-md-20p {
    width: 20%;
    float: left;
    position: relative;
}/*
.home-second-slider .col-md-20p:nth-child(3) {
    width: 16.8%;
}*/
.col-md-offset-20p {
  margin-left: 20%;
}

}
@media(max-width:980px) {
body .second-menu > ul > li{
  padding-bottom: 0
}
  #second-menu .nav-navbar li.active a{
    color: black;
    background: none
  }
.col-md-20p {
  width: 20%;
}
#login-menu{
  padding-left: 0;
  padding-right: 0;
}
body .navbar-right{
  margin-right: 5px!important
}
  body .container{
    width:auto;
  }
  body .second-menu > ul.nav-navbar{
  padding-top: 0;
    padding-left: 15px;
    padding-right: 15px
  }
  #cart-session{
    position: relative;
    top:-2px;
  }
  #menu-mobile .btn:before{

      background-size: initial;
     background-repeat: no-repeat;
     background-position: center center;
  }
  #menu-mobile .btn.fa-user {
    position: relative;
    top:-1px;
  }
  #menu-mobile .btn.fa-bars {
    position: relative;
    top:1px;
  }
  #menu-mobile .btn {
      padding: 7px 9px;
    }
}
/* MD */

@media(min-width:940px) and (max-width:1199px){

  .navbar-normal .first-menu ul.navbar-right li:last-child a .hidden-xs{
    position: relative;
    top:-3px;
  }
  .navbar-normal .first-menu ul.navbar-right a{
    padding:  0 10px;
    position: relative;
    top:5px;
  }
  .logo-min {
    display: none;
  }
  .big-logo figure img {
    display: initial;
  }
  .navbar-normal .first-menu ul.navbar-right {
  margin-top: 11px;
}

}
@media(max-width:980px){
  .home-second-slider .height2{
    height: 350px
  }
  .home-second-slider .slide-fix .reccc h2{
    font-size:13px;
  }
}
@media(max-width:860px){  
  .home-second-slider .height2{
    height: 310px
  }
  .home-second-slider .slide-fix .reccc h2{
    font-size:12px;
  }
}
@media(max-width:780px){
  .home-second-slider .height2{
    height: 280px
  }
  .home-second-slider .slide-fix .reccc h2{
    font-size:11px;
  }
}
@media(max-width:1199px){
  .row.products-listx .height3 {
    height: 420px;
  }
  .row.products-listx .height1{
    height: 210px
  }
  .page-header.style3{
    margin-bottom: 10px
  }
  .page-header.style3 p{
    font-size:14px;
    width:60%;
  }
  .page-header.style3 h2{
    font-size: 18px;
  margin-bottom: -1px;
  padding-top:0
  }
  .footer-body .container{
    height: 480px
  }
#collapseCuppon .box-cupon {
  width: 25%;
  margin-left: 37.5%;
  margin-bottom: 40px;
}
#CupponError {
  width: 17%;
  margin-left: 65%;
  position: absolute;
  top: 100px;
}
  .third-menu h3 {
    font-size: 16px;
  }
  .methods-ship {
    padding: 40px 0px !important;
  }
  .checkout-center {
    margin-left:5%;
    margin-right:5%;
  }
  .style2 h2 {
    font-size: 26px;
  }
  .style1 small, .style2 small {
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .col-md-20p .style2 h2 {
    font-size: 14px;
  }
  .style3 h2 {
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    display: inline-block;
  }
  .col-md-20p, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .last-views li {
    padding: 5px;
  }
  .height1 {
    height: 280px;
  }
  .height2 {
    height: 440px;
  }
  .height3 {
    height: 560px;
  }
  .page-header.style2 h3, .page-header.style2 h2{
    font-size:18px;
  }
  h2.ggltp{
    font-size:18px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
   margin-top: -14px;
    padding-bottom: 10px
  }
  .row.looks .style1 .linebox{
    border: 0
  }
  .row.row-products-filter .dropdowns-menu label{
    font-size:12px;
  text-align: left;
  padding-right: 0;
  display: inline;
  margin-left: 6px;
  }
  .row.row-products-filter .button-group .sizes{
    text-align: left
  }
  .row.row-products-filter .button-group #collapseFilters .col-sm-3:nth-child(2),
  .row.row-products-filter .button-group > ul li:nth-child(1){
    width:28%;
  }
  .row.row-products-filter .button-group #collapseFilters .col-sm-3:nth-child(3),
  .row.row-products-filter .button-group > ul li:nth-child(2){
    width:20%;
  }
  .row.row-products-filter .button-group #collapseFilters .col-sm-3:nth-child(4),
  .row.row-products-filter .button-group > ul li:nth-child(3){
    width:19%;
  }
  .row.row-products-filter .button-group #collapseFilters .col-sm-3:nth-child(3) input{
    width:100px;
  }
  .row.row-products-filter .button-group #collapseFilters .col-sm-3:nth-child(5){
    width:30%;
  }
  .row.row-products-filter .button-group .row{
  margin-left: -40px;
  margin-right: 0;  
  }
  .row.products-listx{
  margin-left: -10px;
  margin-right: -10px;  

  }
  .row.looks{
  margin-left: -10px;
  margin-right: -10px;  
  margin-bottom: 30px;  
  }
  .height4 {
    height: 560px;
  }
  .height5 {
    height: 840px;
  }
  .page-info .info {
    padding: 30px 50px;
  }
  .magicclear1 {
    margin-top: -280px;
  }
  .magicclear2 {
    margin-top: -130px;
  }
  .page-look1 .box-product, .page-product .box-product {
    padding-left: 60px;
  }
  .figure img {
    width: 100%;
    height: initial !important;
  }
  .box-product .the-look {
    position: absolute;
    min-height: 100%;
    width: calc(100% - 60px);
  }
  .btn-lg {
    padding: 5px 60px;
  }
  .srow {
    margin-left: -5px;
    margin-right: -5px;
  }
  .page-info .info {
  padding: 20px;
}
.footer .footer-header span:before, .footer .footer-header span:after, .page-header {
  /* display: none; */
}
body {
}
.page-myaccount .row {
  margin: 0 !important;
}
#second-menu.fixed {
  position: fixed;
  top: 40px;
}
}

/* LG */
@media(min-width:1220px){
  .logo-min {
    display: none;
  }
  .big-logo figure img {
    display: initial;
  }
  .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
  #second-menu.fixed {
    position: fixed;
    top: 40px;
  }
}
@media(min-width:1220px){
  .container {
    width: 1220px;
  }
}

@media(max-width:1200px){
  .form-contact form > .row{
    margin: 0
  }
  .form-contact .col-md-12{
    clear: both;
  }
  .info .shops .article img{
    width:100%;
  }
  .info .shops .article h2{
    font-size:15px;
  }
  .info .shops .article{
    width:25%;
  }
  .form-contact .col-md-6 textarea{
    height: 121px!important
  }
  .form-contact .col-md-6{
    float:left;
    width:48%;
  }
  .info .row-forms-user h2{
    font-size:16px;
  }
  .method-pay{
    margin-top:4px; 
  }
  #form-data > .col-sm-5{
    width:50%;
  }
  .info .row-forms-user label{
    font-size:12px;
  }
  .page-myaccount .info-menu h3{
    margin-bottom: 15px
  }
  .info-menu h3{
    margin-bottom: 0
  }
  .page-myaccount .col-x1{
    width:100%;
  margin: 0;
  }
  .padding-contact{
    padding:0 18px
  }
  .panel-body-first-time .form-title{
   width: 80%;
   margin-left: 10%;
  }
  .home-open-slider{
    max-height: 360px;
    margin-bottom: 5px
  }
  .text-sign-up{    
  margin: 29px auto;
  }
  .products-list .product-preview .btn{
    font-size:12px;
  }
  .rowoffxdt .form-control{
    font-size:12px;    
  }
  .rowoffxdt label{
    font-size:12px;    
    position: relative;
    top:6px;
    line-height: 14px
  }
  .checkout-center .lnk{
    font-size:12px;
    margin-top: 5px;
    margin-bottom: 5px
  }
  .footer .footer-header span{
    font-size:15px;
  }
  .home-open-slider .flex-direction-nav a.flex-prev {
    top: 25%;
    height: 100px;
    width: 48px;
    margin-top: 0;
  }
  .home-open-slider .flex-direction-nav a.flex-next {
    height: 100px;
    width: 48px;
    margin-top: 0;
    top: 50%;
  }
  .home-open-slider .slide-content h2{
    font-size:30px;
  }
  .home-open-slider .flex-direction-nav a.flex-next:before,
  .home-open-slider .flex-direction-nav a.flex-prev:before{
    height: 100px;
    width: 48px;
    background-size: cover!important;
  }
  .page-product .page-body .row >.col-sm-6:nth-child(1),
  .page-look1 .page-body .row >.col-sm-6:nth-child(1){
    width:40%;
  }
  .page-product .page-body .row >.col-sm-6:nth-child(2),
  .page-look1 .page-body .row >.col-sm-6:nth-child(2){
    width:60%;
  }
  .product-selects .sizes .btn{
    width:40px
  }
  .cover .bigpadding{
    padding: 20px
  }
  .page-look1 .box-product{
    padding-left: 0!important    
  } 
  .page-product .box-product{
    padding-left: 10px!important
  }
  .box-product .the-look >.row{
    margin: 0
  }
  .the-look .sizes .btn {
    width:42px;
  }
  .page-look1 .page-footer >.row{
    margin: -10px -5px 10px
  }
  .page-look1 .page-footer div > div:nth-child(3) a, 
  .page-look1 .page-footer div > div:nth-child(5) a{
    height: 380px
  }
  .page-look1 .page-footer div > div:nth-child(1) a, 
  .page-look1 .page-footer div > div:nth-child(2) a, 
  .page-look1 .page-footer div > div:nth-child(4) a{
    height: 190px
  }
  .widget-sizes .widget-sizes-inside{
    width:auto;
    margin:40px 20px
  }
  .widget-sizes table{
    font-size:12px;
  }
  .widget-sizes .guide-image img{
    width:300px;
  }
  .box-product .the-look{
    padding-left: 20px;
    right: 10px;
    width: calc(100% - 10px);
    padding-right: 20px;
  }
  .page-header h3{
    font-size: 18px
  }
  .the-look .product-title h2 {
  font-size: 18px;
  }
  .page-look1 .product-controls, 
  .page-product .product-controls{
  padding: 0 15px;
  }
  .products-list .product-preview{
    height: 300px
  }
  .thumbnail.style4 h2{
    font-size:14px
  }
  .page-body-info .row > .col-sm-6:nth-child(2){
    float:none;
    width:430px;
    clear: both;
    margin:30px auto 20px;
  }
  .thumbnail.style4 span{
    font-size:13px;
  }
  .page-product .product-price,
  .page-look1 .product-price{    
    font-size:20px;
    margin-top: 10px;
  }
  .page-look1 .product-title h2, 
  .page-product .product-title h2{

    font-size:24px;
    margin-top: 0
  }
}
@media(max-width:1000px){
  #slider .slides li:after{
    display:none;
  }
}
@media(max-width:980px){
  .home-open-slider{
    max-height: 340px
  }
  .home-open-slider .flex-direction-nav a.flex-prev {
    top: 14%;
  }
  .page-header.style2{
    margin-bottom: 40px
  }
  .home-second-slider .col-md-20p.col-sm-4 {
    padding-left: 3px;
    padding-right: 2px;
  }
  .style1 h2, .style2 h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .style1 small, .style2 small{
    font-size:16px;
  }
  .height1{
    height: 280px
  }
  body .footer-body .container{
    height: 355px
  }
  .home-open-slider .flex-direction-nav a.flex-next {
    top: 32%;
  }
  #login-menu .cc-user li{
    text-align: center
  }
  #login-menu li:nth-child(2){
    text-align: center
  }
  #login-menu li:nth-child(3){
    text-align: right
  }
  body .box-product .the-look .btn-close{
    right: 10px
  }
  body .btn-close{
    right: calc(50% - 375px)
  }
  .second-menu > ul > li ul > li{
    margin-bottom: 2px
  }
  .second-menu > ul > li ul ul{
    padding:0px 15px
  }
}
@media(max-width:770px){
  .home-open-slider{
    max-height: 270px
  }
@media(max-width:500px){
	#menu-mobile{
		width:80px
	}
	body.app-body .container{
		width:auto;
	}
	.home-open-slider{
		max-height: none
	}
	#second-menu .submenu h3 a{
		font-weight: normal!important
	}
	.second-menu > ul > li > a:after{
		top:-16px;
		display:none;
	}
	.second-menu > ul > li:first-child > a:after{
		display:block;
	}
	.home-second-slider .slide-fix .col-sm-4.reccc{
		padding: 0;
		margin-bottom: 5px;
		width:100%;
	}
	body .home-container > .col-sm-4{
		margin-bottom: 5px
	}
	body .home-open-slider{
		margin-bottom: 5px
	}
	body #collapse ul.navbar-right{
		right: 5px
	}
	#menu-mobile .btn.fa-user{
		top:1px;
	}
	#menu-mobile{
		top:0;
	}
	#menu-mobile .btn.fa-bars {
	  top: 4px;
	}
	.home-second-slider .slide-fix .col-xs-4{
		display: none
	}
	body .flexslider .slides li .col-items{
		margin:0;
		padding: 0;
		margin-bottom: 5px
	}
	.home-container .home-second-slider .height2.cover{
		background: #EFEFEF
	}
	.home-second-slider.flexslider .slides li .ttb{
		max-width:260px;
		width:100%;
	}
	.home-second-slider .col-items .product-preview > a .linebox{
		width:100%;
	}
	body .footer-body .container{
		height: auto
	}
	.footer-body .footer-body-footer{
		padding-bottom: 0;
		height: 0
	}
	.col-md-20p .style2 small:after{
		  content: '';
	  display: block;
	  height: 10px;
	  width: 18px;
	  background: url(../imgs/ico/arrow-d.png);
	  background-size: cover;
 		 margin:5px auto -5px;
	  background-repat: no-repeat;
	}
	.navbar-normal .first-menu ul.navbar-right li .cart-items .hidden-sm{
		display:none;
	}
	.style4 .cover{
		height: 100%
	}
	.style4 .top .center{
		top:75px;
	}
	.row.looks .bottom > .center{
		vertical-align: middle;
		padding-bottom: 0
	}
	.height1 .right .center .linebox{
		height: auto
	}
	.row.looks .style3 a:hover .linebox{
		display:block!important;
  text-align: center;
  margin: auto;
	}
	.page-header.phb .pull-right .arr-right{
		position: absolute;
		right:10px;
	}
	.page-header.phb .pull-right .arr-left{
		position: absolute;
		left:5px;
	}
	.page-header.phb .pull-right{
		position: relative;
		float:none !important;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center
	}
	.page-header.phb{		
		background: #faf4e3;
		height: 30px;
		line-height: 30px;
  border: 0;
  padding: 0;
  margin-bottom: 0;
		margin-top:-20px;
		margin-left:-15px;
		margin-right:-15px;
	}
	.row.looks .right {
	  height: 100%;
	  width: 100%;
	  display: table;
	  vertical-align: middle;
	  position: relative;
	}
	.page-product .page-body .row >.col-sm-6:nth-child(1), .page-look1 .page-body .row >.col-sm-6:nth-child(1){
		width:100%;
		padding: 0;
		float:none;
	}
	.product-gallery{
		position: relative;
	}
	.product-gallery #carousel .flex-direction-nav{
		display: none
	}
	.product-gallery #carousel .slides{
		height: 33px;
		width:100%!important;
  transform: none !important;
		text-align: center
	}
	.page-product .page-body .row >.col-sm-6:nth-child(2), .page-look1 .page-body .row >.col-sm-6:nth-child(2){
		float:none;
		width:100%;
    position:   static;
	}
	.page-look1 .product-socialNetworks, 
	.page-look1 .product-controls, 
	.page-look1 .page-product .product-socialNetworks, 
	.page-look1 .page-product .product-controls{
		margin-top: 5px
	}
	.page-product .buy-item{
		margin-bottom: 3px
	}
	.page-product .pvisits .page-header h3,
	.page-product .page-footer .page-header h3{
			font-size:14px;
  line-height: 30px;
  border:0;
	margin:0;
	text-align: center;
	font-weight: normal
	}
	.page-product .pvisits ul {
		overflow: hidden;
			margin-left:-10px;
	margin-right:-15px;
	}
	.page-product .pvisits ul li:nth-child(6),
	.page-product .pvisits ul li:nth-child(5),
	.page-product .pvisits ul li:nth-child(4),
	.page-product .pvisits ul li:nth-child(3),
	.page-product .pvisits ul li:nth-child(2),
	.page-product .pvisits ul li:nth-child(1){
		display:block;
	}
	.page-product .pvisits ul li{
		display:none;
		float:left;
		width:50%;
  height:270px;

	}
  .page-product .page-footer .prelated > div{
    float:left;
    width:50%;
  height: 420px;
	}
	.page-product .pvisits .page-header,
	.page-product .page-footer .page-header{
	margin: 0;
			margin-left:-15px;
	margin-right:-15px;
	height: 30px;
	line-height: 30px;
	font-size:14px;
	background: #e5e5e5
	}
	.page-product .product-selects,
	.page-product .product-reference,
	.page-product .product-description,
	.page-product .product-socialNetworks{
		display:none;
	}
	.collections-slide,
	.page-look1 .product-reference,
	.page-look1 .product-description,
	.page-look1 .product-socialNetworks{
		display:none;
	}
	.look-hhsm-list{
		margin-top:30px
	}
	.pvisits{
		margin-top: 20px
	}
	.thumbnail.style4 h2 {
  font-size: 14px;
  max-height: 30px;
  overflow: hidden;
}
	body .careandcomposition  .btn-close{
  	top: -8px;
		right: 0
	}
	.look-hhsm-list .page-header.phb h3{
	font-size:14px;
  line-height: 30px;
  border:0;
	margin:0;
	text-align: center;
	font-weight: normal
	}
	.look-hhsm-list .page-header.phb{
	margin-left:-15px;
	margin-right:-15px;
	height: 30px;
	line-height: 30px;
	font-size:14px;
	background: #e5e5e5
	}
	.look-hhsm-list h3 span{
		display:none;
	}
	.page-look1 .page-footer.look-hhsm-list >.row > div{
		height: 160px;		
	  width: 50%;
	  float: left;
	}
	.page-look1 .page-footer.look-hhsm-list >.row{
  margin-bottom: 60px;
		margin-top: 0
	}
	.breadcrumb>li.section-base:before{
		display:none;
	}
	body .breadcrumb li.section-sub:before{
	  padding: 0 5px;
	  color: black;
	  font-weight: 100;
  padding-right: 8px;
  position: relative;
  top: -1px;
	  content: ">";
	}
	.page-look1 .product-controls .one-product{
		display: none
	}
	.go-top.margin-bottomXL{
		margin-bottom: 10px
	}
	.page-product .breadcrumb li{
		display:none;
	}
	.page-product .breadcrumb li.section{
		text-align:center;
		float:none;
		display: inline-block;
		font-weight: normal;
		text-transform: uppercase;
		font-size:14px;
	}
	.page-product .breadcrumb{
		text-align:center;
		display: block;
		float:none!important;
	}
	.page-look1 .product-title h2, 
	.page-look1 .product-title h2, .page-product .product-title h2{
		background: none;
		margin-top:10px;
		width:100%;
		font-size:14px;
		margin-bottom:2px;
		font-weight: normal;
		text-align: center;
	}
	.page-product .product-price, .page-look1 .product-price{
		text-align: center;
		font-size:14px;
		margin-top: 0
	}
	.product-gallery #carousel li{
  float: none !important;
  display: inline-block !important;
		margin: 0  5px
	}
	.product-gallery #carousel li.flex-active-slide div{
		background: #000!important;
	}
	.product-gallery #carousel li div{
		background: #FFF!important;
		border:2px solid #FFF;
	}
	.product-gallery #carousel li, 
	.product-gallery #carousel li div{
		height: 10px;
		width:10px !important;
	}
	.product-gallery #carousel{
		padding: 0;
		margin: 0;
		background:none;
		top:10px;
		height: 10px;
		text-align: center;
		left:10px;
		right: 10px;
		z-index: 1000;
		position: absolute;
	}
	.row.looks .right > .center{
	right: auto;
  width: 100%;
  margin: auto;
  vertical-align: middle;
  padding-bottom: 0;
  position: static;
	}
	.row.looks > div{
		height:300px;
	}
	.row.looks .text-no-mobile{
		display:none;		
	}
	.page-header.style2{
		margin-top: 20px;
		margin-bottom: 20px
	}
	.page-header.style2.style2bb h3{
 	 letter-spacing: 3px		
	}
	.widget-sizes .guide-image{
		display:none;
	}
	.careandcomposition .row > div{
	float:none;
	width:auto;
	}
	.widget-sizes .guide-b{
		width:auto;
		float:none
	}
	.widget-sizes table thead th.cpl, .widget-sizes table .cpl,
	.widget-sizes h3{
		padding-left: 0
	}
	.widget-sizes .widget-sizes-inside {
  width: auto;
  margin: 40px 10px 30px;
}.widget-sizes table {
  font-size: 11px;
}
	.widget-sizes .guide-extra{
		width:auto;
	}
	.widget-sizes{
  margin-bottom: 15px;
margin-right:-10px;
margin-left:-10px
	}
	.box-product .the-look{
		right: 0;
  left: 0;
  position: relative;
  width: auto;
	}
	.page-header.style2 h3, 
	.page-header.style2 h2 {
 	 	font-size: 14px;
  padding: 10px 0;
 	 	margin:auto;
 	 	line-height: 18px;
		max-width: 250px
 	}
	.navbar-normal .first-menu ul.navbar-right li .cart-items{
		display:inline-block!important;
	}
	#second-menu .nav-navbar .list-unstyled li a, 
	#second-menu .nav-navbar .list-unstyled li a:focus{

  font-weight: 100;
  text-transform: none;
	}
	#second-menu .nav-navbar .list-unstyled li{
		display:block;
	}
.home-second-slider .height2.cover{

  background-color: #ede3bb;
}
.home-second-slider .height2.cover .pimg{
	position: relative;
}
.page-look1 .box-product.tlookopen > div#collapseCustomLook{
	display:block;
}
.page-look1 .box-product.tlookopen > div{
	display:none;
}
.home-second-slider .height2.cover .more-info .more-info-bb{
	background: rgba(255,255,255,.8);
	color:#000;
	display:inline-block;
	padding:5px 15px;
	cursor: pointer;
	opacity: 1;
	font-size: 12px
}
.row.row-products-filter .button-group .row{
	margin-left:0;
}
body div.header-basic.page-header .breadcrumb li.section{
  text-align: center;
  float: none;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}
body div.header-basic.page-header .breadcrumb{
  text-align: center;
	display:block;
	float:none!important;
}
body div.header-basic.page-header{
	margin:0;
	display: block
}
.row-products-filter .open-coll .button-group .row > li.filters button:before{
	display:none;
}
.row-products-filter .button-group .row > li.filters button:before{
	  content: "+";
  display: inline-block;
  float: right;
  top: -4px;
  right: 12px;
  font-size: 24px;
  position: absolute;
}
.row.row-products-filter .button-group #collapseFilters .col-sm-3{
	width:auto!important
}
.row.row-products-filter .button-group #collapseFilters .sizes  .label-mobile{
	margin-bottom: 5px
}
.row.row-products-filter .button-group #collapseFilters .label-mobile{
  display:block;

  padding: 0;
  margin: 0;
	font-family: FuturaStd-Book;
	font-size: 14px;
}
.row-products-filter .button-group .row > li.filters button{
	text-align: left;
	padding-left: 10px;
}
.row-products-filter .button-group .row > li.filters{
	display:block;
}
.row-products-filter .button-group .row > li{
	display:none;
}
.home-second-slider .height2.cover .more-info{
  	display: block;
  	position: absolute; 
  	bottom:10px;
  	text-align: center;
  	width:100%;
	}
	.row-products-filter.base-list{
		margin-top: 10px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.go-top-fixed{

  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
  width: 52px;
  height: 53px;
  display: block;
  cursor: pointer;
	}
	.products-list .bottom > .center{
		padding-bottom: 40px
	}
	.total span.bb{
		font-size:24px;
	}
	.table-list-cart .name a{
		font-weight: normal
	}
	.page-body.page-body-info{
		overflow: hidden;

	}
	.collapseFilters-box{margin-bottom: 0}
	.phmoved{margin-bottom: 10px}
	.row.products-listx .height1,
	.row.products-listx .height3{
		height: 300px
	}
	.total .ff{
		width:130px;
	}
	.methods-ship .bootstrap-select.btn-group .dropdown-toggle .filter-option{
		top:-10px;
	}
	.page-body-info .row > .col-sm-6:nth-child(1){
		width:auto;
		float:none;
	}
	.page-body-info .row > .col-sm-6:nth-child(2){
		width:auto;
	}
  .page-product .box-product,
.page-look1 .box-product{
  position: static;
}
body .product-socialNetworks .product-reference{
  display:block;  
  text-align: left;
  margin-bottom: 10px;
  margin-top: -15px;
}
.product-socialNetworks .product-description{
  display:block;
  padding:0;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: left;
}
div.box-product .product-socialNetworks .btn-close{
  right:7px;
  top:0;
}
.product-gallery .more-info .more-info-bb {
  background: rgba(255,255,255,.8);
  color: #000;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  opacity: 1;
  font-size: 12px;
}
.product-gallery .more-info{
  z-index: 999;
  display:block;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
body div.box-product .product-socialNetworks .product-socialNetworks-inside{
  padding: 35px
}
body div.box-product .product-socialNetworks.active{
display:block;
}
body div.box-product .product-socialNetworks{
  z-index: 99999;
  background: rgba(255,255,255,.8);
  text-align: center;
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  border: 1px solid #000000;
  display: none
}
	#collapseCuppon .box-cupon {
  width: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
	.total span.hstyle1{
	  background-color: #dcc878;
	  display: inline-block;
	  text-transform: uppercase;
	  font-weight: 700;
	  font-size: 24px;
	  padding: 0;
	  padding-left: 25px;
	  line-height: 17px;
  width: auto;
	  height: 19px;
	}
  .page-body-info .row > .col-sm-6:nth-child(1){
    padding: 0
  }
  .page-cart-header{
    display:none;
  }
  #login-form .col-xs-9.col-xs-offset-3{
    margin-left:-8px;
    margin-bottom:7px
  }
  .panel-body-first-time .form-title{
  width: 98%;
  margin-left: 1%;
  }
  #login-form .col-xs-9{
    float:none;
    width:auto;
  }
  #login-form .col-xs-3{
    display:none;
  }
  #login-form > .col-xs-offset-3{
  width: 103%!important;
  float: none;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px
  }
	.item-size.bootstrap-select.btn-group .dropdown-toggle .filter-option{
		top:-7px;
	}
  #login-menu li:nth-child(3),
  body #login-menu li{
    text-align: center
  }
  .page-body-info .row > .col-sm-6:nth-child(2){
    margin-top:-40px;
    padding-top: 10px
  }
  .row-products-filter .info-menu h3{
    margin: 0;
  background: #faf4e3;
  height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  width:100%;
    text-align: center!important;
    padding: 0
  }
  .page-body.page-body-info{
    overflow: visible;
  }
  .page-cart.row-products-filter .info-menu-mobile{
  margin-left: -15px;
  margin-right: -15px
  }
  .page-login.row-products-filter .info-menu-mobile{
  margin-left: -15px;
  margin-right: -15px;
    margin-bottom: 35px
  }
  .page-login.row-products-filter .page-header,
  .page-info.row-products-filter .page-header{
    margin:0
  }
  .page-login.row-products-filter,
  .page-cart.row-products-filter,
  .page-info.row-products-filter{
    margin-top: 0
  }
  .info-menu-mobile{
    display:block
  }
  .checkout-steps li{
    display:none
  }
  #app{
    min-height: 200px
  }
  .checkout-steps li.fok,
  .checkout-steps li.fok a{
  
  font-size: 18px!important;
    width:100%;
    display: block
  }
  .options-global .cc-move.cc-move-nf .block{
    display:inline;
  }
  .options-global .cc-move.cc-move-nf{
    float:none;margin-bottom: 10px
  }
  .total .ff{
    text-align: right;
  }
  .options-global .cc-move{
    float:left;
    margin-right: 5px
  }
  .page-myaccount .form-group .col-sm-10{
    float:left;
    width:92%;
  }
  .page-myaccount .form-group .col-sm-offset-1{
    float:left;
    width:8%;
  }
  .page-myaccount .info h2{
    display:block;
    width:auto;
  }
  #form-data > .col-sm-5{
    float:none;
    width:auto;
  }
  footer{

  position: relative;
  z-index: 1001;
  }
  .contact-body .info h2{
    display:block;
  }
  .form-contact ::-webkit-input-placeholder {
    color: black !important;
}
.form-contact :-moz-placeholder {
    color: black !important;
}
.form-contact ::-moz-placeholder {
    color: black !important;
}
.stores-item-cc{
  border-top:1px solid #e4c974;
}
.store-title.collapsed:after {
  content: "+";
}
.store-title:after {
  content: "-";
  display: inline-block;
  float: right;
  right: 6px;
  font-size: 25px;
  position: relative;
  top: -2px;
  color:#e4c974;;
}
.store-title{
  font-weight: bold;
  margin-top: 0;
  padding-top: 8px;
  display: block
}
.info .shops .article h2{
    display: none  
}
.stores-list{
  border-bottom:1px solid #e4c974;
  padding: 0 6px;
}
.info .shops .article .hextra p{
  font-size:14px;
}
.info .shops .article .hextra{
  display:block;
  margin-bottom: 8px
}
.info .shops .article > p{
  display:none
}
.info .shops .article{
  width:auto;
  padding: 0;
  padding-bottom: 15px
}
  .form-contact .lbl-box{
    display: none
  }
  .form-contact .col-md-6{
    float:none;
    width:auto;
  }
  .form-contact form > .row{

  margin-left: -15px;
  margin-right: -15px;
  }
  .text-account-infom.info-menu{
    display: none
  }
  .text-contact-infom.info-menu{
    margin-left: -15px;
    margin-right: -15px;
  }
  .page-myaccount .page-header{
    margin-top: 0    
  }
  .page-myaccount.row-products-filter{
    margin-top: -20px
  }
  .page-myaccount .info-menu-mobile{
    margin-left: -15px;
    margin-right: -15px;
  }
.containerxx{
padding-bottom:0;
}
  .text-contact-infom.info-menu h3{
  margin: 0;
  background: #faf4e3;
  height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  width: 100%;
  text-align: center!important;
  padding: 0;
  }
  .payment-methods .absolute.pull-right{
  right: 10px;
  }
  .checkout-center{
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom: 10px
  }
  .page-cart-body{
    margin-bottom: 30px
  }
  .page-login .page-footer.page-footer-nm .btn.btn-primary{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px
  }
  .page-login .page-footer.page-footer-nm .btn.btn-default{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top:10px
  }
  .step-1ch{
  display: block;
  }
  .table-list-cart img {
  width: 40px;
}
.table-list-cart input.item-num{
  padding:5px 0;
}
.table-list-cart .delete, .table-list-cart .cost {
  padding-top: 40px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
  position: relative;
  top:-10px
}
.table-list-cart tbody{
  display:table-row-group;
}
.offxdty{
  z-index: 100;
}
.offxdt form .form-group.row,
.offxdty form .form-group.row{
  margin-left:0;
  margin-right:0;
}
.methods-ship{
  padding: 40px 1px 0!important;
}
.table-list-cart th.options,
.table-list-cart tr > th:nth-child(3){
  display:none;
}
.page-login.page-cc .page-footer .btn-default{
  margin-top: 20px
  
}
.page-login.page-cc .page-footer .btn-primary{
  margin-top: 0
}
.third-menu, #second-menu, #login-menu{
  display:none;
}
.page-login.page-cc .page-footer{
  padding-top: 0;
  padding-bottom: 10px
}
.widget-cookies{
  width:auto;
  left: 10px;
}
.widget-cookies .widget-cookies-inside {
  padding: 20px 20px;
}
  .checkout-steps{
  padding: 0;
  margin-left: -4px;
  margin-right: -5px;
  padding-bottom: 35px;
  width: 103%;
  }
  .table.table-list-cart>tbody>tr>th:nth-child(1){
    vertical-align: top
  }
  .row-products-filter .info-menu h3 .arr-left{
  position: absolute;
  left: 5px;
  }
  .form-closed{
    display:none
  }
  .button-open-form{
    display:block;
    margin-top: -10px;
  }

}
@media(max-width:360px){
  .page-product .pvisits ul li{
    height: 240px
  }
  .page-product .page-footer .prelated > div{
  height: 320px;
  }
}